@model ByteBank.Aplicacao.DTO.ClienteDTO

@{
    ViewData["Title"] = "Details";
}

<h4>Detalhes do Cliente @Model.Nome</h4>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CPF)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CPF)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Profissao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Profissao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Identificador)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Identificador)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-sm btn-outline-primary">Editar</a>
    <a asp-action="Index" class="btn btn-sm btn-outline-secondary">Voltar</a>
</div>
