@model ByteBank.Aplicacao.DTO.ContaCorrenteDTO

@{
    ViewData["Title"] = "Detalhes Conta";
}

<h4>Detalhes Conta-Corrente Nº: @Model.Numero</h4>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente.Nome)
        </dd>
        <dt class="col-sm-2">
            Agência
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Agencia.Numero)
        </dd>
        <dt class="col-sm-2">
            Conta Corrente
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Numero)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Identificador)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Identificador)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Saldo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Saldo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PixConta)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PixConta)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-sm btn-outline-primary">Editar</a>
    <a asp-action="Index" class="btn btn-sm btn-outline-secondary">Voltar</a>
</div>
